:root {
    --speed: 4s;
    --shadowspeed: 6s;
}
body{
    background-color: white;
  }
  
  .glare{
    background-color:rgba(255,255,255,.7);
    width:40px;
    height:50px;
    transform:skew(-30deg) translate(-60px);
    position:absolute;
    z-index:10;
    animation: glare 3s ease infinite;
    animation-delay:1s;
  }
  
  @keyframes glare{
    0%{transform:skew(-30deg) translate(-60px);}
    50%{transform:skew(-30deg) translate(160px);}
    100%{transform:skew(-30deg) translate(160px);}
  }
  
  .shadow{
    filter: blur(1px);
  }
  
  .shuffle{
    position:absolute;
    top:50%;
    left:calc(50% - 70px);
    transform:translate(-50%, -50%);
    z-index:50;
  }
  
  .card{
    width:135px;
    height:50px;
    position:absolute;
    transform:skew(30deg) rotate(-10deg);
    border-radius:4px;
    background-color:#ffffff;
    border:2px solid slategrey;
    overflow:hidden; 
  }
  
  .card img{
    max-width:100%;
    width:100px;
    transform:scaleX(1.2);
    margin-left:15px;
    margin-top:5px;
    position:relative;
  }
  
  
  .card5{
    margin-top:-60px;
    z-index:10;
    animation: shuffle5 var(--speed) ease-out infinite;
  }
  .card4{
    margin-top:-45px;
    z-index:9;
    animation: shuffle4 var(--speed) ease-out infinite;
  }
  .card3{
    margin-top:-30px;
    z-index:8;
    animation: shuffle3 var(--speed) ease-out infinite;
  }
  .card2{
    margin-top:-15px;
    z-index:7;
    animation: shuffle2 var(--speed) ease-out infinite;
  }
  .card1{
    margin-top:0px;
    z-index:6;
    animation: shuffle1 var(--speed) ease-out infinite;
  }
  
  
  @keyframes shuffle1{
    0%{
      transform:translate(0px, 0px) skew(30deg) rotate(-10deg) scale(1);
      z-index:1;
    }
    5%{
      transform:translate(-130px, 20px) skew(30deg) rotate(-10deg) scale(1);
      z-index:1;
    }
    8%{
      transform:translate(-130px, 20px) skew(30deg) rotate(-10deg) scale(1);
      z-index:11;
    }
    20%{
      transform:translate(0px, -75px) skew(30deg) rotate(-10deg) scale(1);
      z-index:11;
    }
    90%{
      transform:translate(0px, 0px) skew(30deg) rotate(-10deg) scale(1);
      z-index:6;
    }
  }
  
  @keyframes shuffle2{
    0%{
      transform:translate(0px, 0px) skew(30deg) rotate(-10deg);
      z-index:2;
    }
    10%{
      transform:translate(0px, 15px) skew(30deg) rotate(-10deg);
      z-index:2;
    }
    15%{
      transform:translate(0px, 15px) skew(30deg) rotate(-10deg);
      z-index:2;
    }
    25%{
      transform:translate(-130px, 45px) skew(30deg) rotate(-10deg);
      z-index:2;
    }
    28%{
      transform:translate(-130px, 45px) skew(30deg) rotate(-10deg);
      z-index:12;
    }
    35%{
      transform:translate(0px, -55px) skew(30deg) rotate(-10deg);
      z-index:12;
    }
    90%{
      transform:translate(0px, 0px) skew(30deg) rotate(-10deg);
      z-index:12;
    }
  }
  
  @keyframes shuffle3{
    0%{
      transform:translate(0px, 0px) skew(30deg) rotate(-10deg);
      z-index:3;
    }
    20%{
      transform:translate(0px, 30px) skew(30deg) rotate(-10deg);
      z-index:3;
    }
    30%{
      transform:translate(0px, 30px) skew(30deg) rotate(-10deg);
      z-index:3;
    }
    35%{
      transform:translate(0px, 30px) skew(30deg) rotate(-10deg);
      z-index:3;
    }
    45%{
      transform:translate(-130px, 60px) skew(30deg) rotate(-10deg);
      z-index:3;
    }
    48%{
      transform:translate(-130px, 60px) skew(30deg) rotate(-10deg);
      z-index:13;
    }
    55%{
      transform:translate(0px, -35px) skew(30deg) rotate(-10deg);
      z-index:13;
    }
    90%{
      transform:translate(0px, 0px) skew(30deg) rotate(-10deg);
      z-index:13;
    }
  }
  
  @keyframes shuffle4{
    0%{
      transform:translate(0px, 0px) skew(30deg) rotate(-10deg);
      z-index:4;
    }
    40%{
      transform:translate(0px, 45px) skew(30deg) rotate(-10deg);
      z-index:4;
    }
    50%{
      transform:translate(0px, 45px) skew(30deg) rotate(-10deg);
      z-index:4;
    }
    55%{
      transform:translate(0px, 45px) skew(30deg) rotate(-10deg);
      z-index:4;
    }
    65%{
      transform:translate(-130px, 75px) skew(30deg) rotate(-10deg);
      z-index:4;
    }
    68%{
      transform:translate(-130px, 75px) skew(30deg) rotate(-10deg);
      z-index:14;
    }
    75%{
      transform:translate(0px, -15px) skew(30deg) rotate(-10deg);
      z-index:14;
    }
    90%{
      transform:translate(0px, 0px) skew(30deg) rotate(-10deg);
      z-index:14;
    }
  }
  
  
  @keyframes shuffle5{
    0%{
      transform:translate(0px, 0px) skew(30deg) rotate(-10deg);
      z-index:5;
    }
    60%{
      transform:translate(0px, 60px) skew(30deg) rotate(-10deg);
      z-index:5;
    }
    70%{
      transform:translate(0px, 60px) skew(30deg) rotate(-10deg);
      z-index:5;
    }
    75%{
      transform:translate(0px, 60px) skew(30deg) rotate(-10deg);
      z-index:5;
    }
    85%{
      transform:translate(-130px, 90px) skew(30deg) rotate(-10deg);
      z-index:5;
    }
    88%{
      transform:translate(-130px, 90px) skew(30deg) rotate(-10deg);
      z-index:15;
    }
    95%{
      transform:translate(0px, 0px) skew(30deg) rotate(-10deg);
      z-index:15;
    }
    100%{
      transform:translate(0px, 0px) skew(30deg) rotate(-10deg);
      z-index:15;
    }
  }
  
  .deck-shadow{
    background-color:#f7f7f7;
    width:135px;
    height:50px;
    position:absolute;
    transform:skew(30deg) rotate(-10deg);
    border-radius:4px;
    margin-top:20px;
    animation: deckshadow var(--shadowspeed) linear infinite;
  }
  
  @keyframes deckshadow{
    0%{transform:scale(1) skew(30deg) rotate(-10deg);}
    20%{transform:scale(.9) skew(30deg) rotate(-10deg);}
    40%{transform:scale(1) skew(30deg) rotate(-10deg);}
    60%{transform:scale(.9) skew(30deg) rotate(-10deg);}
    80%{transform:scale(1) skew(30deg) rotate(-10deg);}
    10%{transform:scale(.9) skew(30deg) rotate(-10deg);}
  }
  
  .card-shadow{
    background-color:#f7f7f7;
    width:135px;
    height:50px;
    position:absolute;
    transform:skew(30deg) rotate(-10deg);
    border-radius:4px;
    margin-top:20px;
    animation: cardshadow 4s ease-out infinite;
  }
  
  @keyframes cardshadow{
    0%{transform:translate(0px, 0px) skew(30deg) rotate(-10deg);}
    
    5%{transform:translate(-130px, 30px) skew(30deg) rotate(-10deg);}
    7.3%{transform:translate(-130px, 30px) skew(30deg) rotate(-10deg);}
    20.5%{transform:scale(.8) skew(30deg) rotate(-10deg);}
    
    
    35%{transform:translate(0px, 0px) skew(30deg) rotate(-10deg);}
    45%{transform:translate(-130px, 30px) skew(30deg) rotate(-10deg);}
    47.3%{transform:translate(-130px, 30px) skew(30deg) rotate(-10deg);}
    56%{transform:scale(.8) skew(30deg) rotate(-10deg);}
    
    
    75%{transform:translate(0px, 0px) skew(30deg) rotate(-10deg);}
    85%{transform:translate(-130px, 30px) skew(30deg) rotate(-10deg);}
    87.3%{transform:translate(-130px, 30px) skew(30deg) rotate(-10deg);}
    96%{transform:scale(.8) skew(30deg) rotate(-10deg);}
    
  }
  
  @keyframes cardshadow2{
    0%{transform:translate(0px, 0px) skew(30deg) rotate(-10deg);}
    
    15%{transform:translate(0px, 0px) skew(30deg) rotate(-10deg);}
    25%{transform:translate(-130px, 30px) skew(30deg) rotate(-10deg);}
    27%{transform:translate(-130px, 30px) skew(30deg) rotate(-10deg);}
    40%{transform:scale(.8) skew(30deg) rotate(-10deg);}
    
    
    55%{transform:translate(0px, 0px) skew(30deg) rotate(-10deg);}
    65%{transform:translate(-130px, 30px) skew(30deg) rotate(-10deg);}
    67.3%{transform:translate(-130px, 30px) skew(30deg) rotate(-10deg);}
    76%{transform:scale(.8) skew(30deg) rotate(-10deg);}
  }
  
  
  .card-shadow2{
    background-color:#f7f7f7;
    width:135px;
    height:50px;
    position:absolute;
    transform:skew(30deg) rotate(-10deg);
    border-radius:4px;
    margin-top:20px;
    animation: cardshadow2 4s ease-out infinite;
  }
  